</div>
<footer class="w-full bg-white text-right p-4">

</footer>
</div>

</div>

<!-- AlpineJS -->
<script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.x.x/dist/alpine.min.js" defer></script>
<!-- Font Awesome -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js" integrity="sha256-KzZiKy0DWYsnwMF+X1DvQngQ2/FxF7MF3Ff72XcpuPs=" crossorigin="anonymous"></script>

<link rel="stylesheet" href="//code.jquery.com/ui/1.13.1/themes/base/jquery-ui.css">
<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
<script src="https://code.jquery.com/ui/1.13.1/jquery-ui.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js"></script>
<!-- Datepicker code started -->
<script>
	$('#start_date').datepicker({
        dateFormat: "yy-mm-dd"
    });
    $('#end_date').datepicker({
        dateFormat: "yy-mm-dd"
    });
</script>
<!-- Datepicker code ended -->

<!-- Get data through AJAX -->
<script>
	$('#company_symbol, #start_date, #end_date').change(function(){
        var companySymbol = $('#company_symbol').val();
        var startDate = $('#start_date').val();
        var endDate = $('#end_date').val();

        if(companySymbol != '' && startDate != '' && endDate != '')
        {
        	searchHistoricalData(companySymbol, startDate, endDate)
        }
    });

    function searchHistoricalData(companySymbol, startDate, endDate)
    {
		$.ajax({
			url: "{{ app.request.uri }}index.php/search",
			type: "get",
			data: {
				companySymbol: companySymbol, 
				startDate: startDate, 
				endDate: endDate
			},
			success: function(response) {
				displayTabularResults(response);	
			}
		});
    }
    
    function displayTabularResults(tableData)
    {
    	$('#search_results_table_div').show();
    	$('#search_results_tbody').html('');
    	
    	if( jQuery.isEmptyObject(tableData[0]) )
    	{
    		$('#search_results_tbody').html('<tr><td colspan="6">No data found for your search</td></tr>');
    	}

    	tableData[0].forEach(function(obj) 
        { 
            var tableRow = `<tr>
	            <td class="w-1/3 text-left py-3 px-4"> ${obj.date} </td>
	            <td class="w-1/3 text-left py-3 px-4"> ${obj.open} </td>
	            <td class="w-1/3 text-left py-3 px-4"> ${obj.high} </td>
	            <td class="text-left py-3 px-4"> ${obj.low} </td>
	            <td class="text-left py-3 px-4"> ${obj.close} </td>
	            <td class="text-left py-3 px-4"> ${obj.volume} </td>
	        </tr>`;

            $('#search_results_tbody').append(tableRow);
        });

    }

</script>